{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_customers').DataTable({
                pageLength: 10,
                order: [[0, "asc"]]
            });
        });

        $(document).on('hidden', "#modal-content", function () {
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function () {
            var target = $(this).attr("href");

            $.get(target, function (data) {
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
{% endblock %}

{% block heading-elements %}
    <br>
    <a href="/mdat/customers/create" class="btn bg-blue float-right mx-1 disabled" data-toggle="modal"
       data-target="#modal">{% trans "New Customer" %}</a>
    <br><br><br>
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <table id="all_customers" class="table table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>{% trans "MDAT-ID" %}</th>
                <th>{% trans "External-ID" %}</th>
                <th>{% trans "Companyname" %}</th>
                <th>{% trans "Enabled" %}</th>
                <th>{% trans "Edit" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in all_customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.external_id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{% if not customer.enabled %} <i class="icon-cross2"></i> {% else %}
                        <i class="icon-checkmark3"></i>{% endif %}</td>
                    <td><a href="/mdat/customer/{{ customer.id }}"><i class="icon-database-edit2"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
